spring:
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
  main:
        banner-mode: "off"
 # FREEMARKER (FreeMarkerAutoConfiguration)
  freemarker:
    allow-request-override: false
    allow-session-override: false
    cache: true
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    enabled: true
    expose-request-attributes: false
    expose-session-attributes: false
    expose-spring-macro-helpers: true
    prefer-file-system-access: true
    suffix: .ftl
    requestContextAttribute: request
    template-loader-path: classpath:/templates
    settings:
              template_update_delay: 0
              default_encoding: UTF-8
              classic_compatible: true
    order: 1
db :
  username : lzj
  passwd : m123